:root {
    --base-clr: #363743;
    --line-clr: #42434a;
    --blue-clr: #76A4FF;
    --border-clr: #D4D4D4;
    --hover-clr: #EAEAEA;
}
* {
   margin: 0;
   padding: 0;
}
html {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.5rem;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
    transition: grid-template-columns 0.3s cubic-bezier(0.4,0,0.2,1);
}

/*======= NAVIGATION ==================*/
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background: white;
    padding: 1.5em;
    border-bottom: 1px solid var(--border-clr);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5em; 
}
.search-bar input {
    flex: 1;
    padding: 0.5em;
    border: none;
}  
.search-bar input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.dropdown {
    cursor: pointer;
}
.sidebar-btn {
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navbar"
        "main"
        "footer"; 
    }
    aside {
        width: 350px;
        display: none;
    }
    .dropdown {
        display: none;
    }
    .show {
        position: fixed;
        display: block;
        a {
            border-radius: 0.5em;
            background: white;
        }
    }
    
}


/*======= SIDE BAR ==================*/
aside {
    height: calc(100vh - 50px);
    top: 0;
    position: sticky;
    grid-area: sidebar;
    background: white;
    padding: 1.5em;
    border-right: 1px solid var(--border-clr);
}

@media (min-width: 800px) {
    body:has(aside:hover) {
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
    }
    body:has(aside:hover) .active a {
        border-radius: 0.5em;
        background: var(--hover-clr);
        color: var(--base-clr);
    }
    /* SET BORDER RADIUS TO ALL*/
    body:has(aside:hover) aside a {
        border-radius: 0.5em;
    }
    .sidebar-btn {
        display: none;
    }
}

aside ul li {
    list-style-type: none;
}  
aside ul li a:hover {
    background: var(--hover-clr);
}
aside ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em; 
    padding: 15px;
    text-decoration: none;
    color: var(--base-clr);
    border-radius: 50em;
}
aside a span{
    overflow: hidden;
}
aside ul li a svg {
    flex-shrink: 0;
    fill: var(--base-clr);
}
aside ul li.active a {
    background: var(--base-clr);
    color: white;
    svg{
        fill: white;
    }
}

.alert-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em; 
    width: 100%;
    height: 100%;
    padding: 15px;
    background: none;
    cursor: pointer;
    border: none;
    color: var(--base-clr);
    border-radius: .5em;
}
.alert-btn svg {
    flex-shrink: 0;
}
.alert-btn:hover {
    background: var(--hover-clr);
}
.alert-btn span {
    overflow: hidden;
}

.settings {
    position: absolute;
    bottom: 1.5em; /* Match bottom padding of aside */
    left: 1.5em;
    right: 1.5em
}


/*======= FOOTER ==================*/
footer {
    grid-area: footer;
    background: white;
    padding: 1em;
}

/*======= MAIN ==================*/
main { 
    grid-area: main;
    background: white;
    padding: 3.5em;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    
}
.tricycle-table {
    border-collapse: collapse;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    overflow: hidden;
    width: 100%;
    
}
td, th {
    border: none; 
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    text-align: left;
    padding: 13px 10px 13px 50px;
}
th {
    background-color: #EAEAEA;
}



/*======= LOGIN PAGE ==================*/
.login-body {
    min-height: 100vh;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    display: grid;
    background: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "illus login-form";
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 24px 52.4px -23px rgba(0, 0, 0, 0.25);
}
.illus {
    grid-area: illus;
    background: #D9D9D9;
    width: 486px;
    height: 520px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.login-form {
    grid-area: login-form;
}



