
.count-container .graph{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    width: 100%;
    height: 68px;
    padding: 26px;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
}
.count-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.count-container h3  {
    color: #73737C;
}
.count-container p {
    color: #878797;
    font-weight: 500;
}
.graph div {
    display: flex;
    justify-content: space-between;
}
