.issue-grid {
    display: grid;;
    grid-template-areas:
        "column1 column2"
    ;
    gap: 10px;
}

.column1 {
    display: flex;
    flex-direction: column;
    border: 1px solid ;
}

.issue-nav {
    display: flex;
    justify-content: space-between;
}

.column2 {
    border: 1px solid;
    flex-direction: row;
}

.sidebuttons {
    display: flex;
}