.book-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 34px;
  position: relative;
}


.search-container {
  display: flex;
  gap: 10px;
}

.search {
  position: relative;
  display: flex;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  align-items: center;
  border: 1px solid var(--border-clr);
  border-radius: 5px 5px 5px 5px;
  background: white;
  justify-content: space-between;
  padding: 0px 10px 0px 7px;
  box-sizing: border-box;
}

.search img {
  cursor: pointer;
  padding-right: 3px;
}

.search input::placeholder {
  color: rgb(180, 177, 182);
}


.searchTerm {
  padding: 10px;
  height: 20px;
  width: 450px;
  outline: #cdcdd8;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

.bookButtons {
  display: flex;
  position: relative;
  gap: 10px;

}

.addBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-clr);
  padding: 10px 14px 10px 14px;
  position: flex;
  border-radius: 5px;
  background: var(--base-clr);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
}

.addBtn i {
  color: white;
  font-size: 14px;
}

.addBtn a {
  color: white;
  padding-left: 6px;
  font-size: 13px;
  text-decoration: none;
}

/* TABLE */

.issue-wrapper {
  border: 1px solid var(--border-clr);
  border-radius: 6px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  scrollbar-width: none;
}

.issue-container {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;


}

.table-head th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f8f8fa;
}

th,
td {
  border-bottom: 1px solid var(--border-clr);
  padding: 10px 10px 10px 25px;
  text-align: left;
  font-size: 12px;
  color: #676775;

}

tr {
  background: white;

}

.table-head {
  background: #f8f8fa;
}

.td-isbn {
  font-size: 12px;
  color: #818399;
  /* Optional: make it a lighter color */
  font-weight: 250;
}