.book-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 34px;
  position: relative;
}


.search-container {
  display: flex;
  gap: 10px;
}

.search {
  position: relative;
  display: flex;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  align-items: center;
  border: 1px solid var(--border-clr);
  border-radius: 5px 5px 5px 5px;
  background: white;
  justify-content: space-between;
  padding: 0px 10px 0px 7px;
  box-sizing: border-box;
}


.filter-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--border-clr);
  height: auto;
  width: 43px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.search img {
  cursor: pointer;
  padding-right: 3px;
}

.search input::placeholder {
  color: rgb(180, 177, 182);
}


.searchTerm {
  padding: 10px;
  height: 20px;
  width: 450px;
  outline: #cdcdd8;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

.bookButtons {
  display: flex;
  position: relative;
  gap: 10px;

}


.addBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-clr);
  padding: 10px 14px 10px 14px;
  position: flex;
  border-radius: 5px;
  background: var(--base-clr);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
}

.addBtn i {
  color: white;
  font-size: 14px;
}

.addBtn a {
  color: white;
  padding-left: 6px;
  font-size: 13px;
  text-decoration: none;
}


/* BOOKS PAGE CONTENT TABLE */
.books-wrapper {
  border: 1px solid var(--border-clr);
  border-radius: 6px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  scrollbar-width: none;
}

.books-container {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;


}

.table-head th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f8f8fa;
}

th,
td {
  border-bottom: 1px solid var(--border-clr);
  padding: 10px 10px 10px 25px;
  text-align: left;
  font-size: 12px;
  color: #676775;

}

tr {
  background: white;

}

.table-head {
  background: #f8f8fa;
}

.td-isbn {
  font-size: 12px;
  color: #818399;
  /* Optional: make it a lighter color */
  font-weight: 250;
}

.td-genre {
  border-radius: 3px;
  padding: 6px 9px 6px 9px;
  background: rgb(238, 238, 238);
  color: var(--base-clr);
  font-weight: 400;
  font-size: 11px;
}

.avail-light {
  border: 1px solid oklch(.925 .084 155.995);
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  background: oklch(.982 .018 155.826);
  color: oklch(.527 .154 150.069);
  font-size: 11px;
  font-weight: 500;
}

.unavail {
  border: 1px solid oklch(.901 .076 70.697);
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  background: oklch(.98 .016 73.684);
  color: oklch(.553 .195 38.402);
  font-size: 11px;
  font-weight: 500;
}

/* CELL SIZING */
.th-title,
.cell-bookTitle {
  width: 340px;
  font-weight: 600;
}

.td-title {
  font-size: 14px;
}



.td-actions,
.th-actions {
  width: 120px;
}

.books-actions {
  display: flex;
  gap: 6px;
  flex-shrink: 0;
}

.edit-book,
.delete-book {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-clr);
  border-radius: 4px;
  background: white;
  cursor: pointer;
  transition: all .15s;
}

.edit-book:hover,
.delete-book:hover {
  background: rgb(243, 243, 243);
}



/* GENERAL MODALS CLASSES */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  color: rgb(58, 57, 57);
  position: relative;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 180ms ease;
}

.modal.show .modal-content {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header span {
  color: #676775;
  font-weight: 500;
  font-size: 17px;
}

.modal-close {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  position: relative;
}


/* ADDBOOK FORM */
.addbook-form {
  display: grid;
  grid-template-columns: 239px 239px;
  gap: 15px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.addbook-form .addbook-description {
  grid-column: 1 / -1;
}

#book-description {
  width: 100%;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
  height: 55px;
  padding-bottom: 25px;


}

.addbook-form p {
  font-size: 13px;
  font-weight: 480;
  color: #717280;
}

.addbook-form input {
  font-size: 12px;
  width: 100%;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
}

.addbook-form input::placeholder {
  color: rgb(179, 176, 176);
}

.addbook-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;

}

#addbook-submit {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: var(--base-clr);
  color: white;
  cursor: pointer;
}

#addbook-cancel {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: none;
  cursor: pointer;
}





/* EDITBOOK MODAL */
.editbook-form {
  display: grid;
  grid-template-columns: 239px 239px;
  gap: 15px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.editbook-form .editbook-description {
  grid-column: 1 / -1;
}

#data-description {
  width: 100%;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
  height: 55px;
  padding-bottom: 25px;

}

.editbook-form p {
  font-size: 13px;
  font-weight: 480;
  color: #717280;
}

.editbook-form input {
  font-size: 12px;
  width: 100%;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
}

.editbook-form input::placeholder {
  color: rgb(179, 176, 176);
}

.editbook-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;

}


#editbook-submit {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: var(--base-clr);
  color: white;
  cursor: pointer;
}

#editbook-cancel {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: none;
  cursor: pointer;
}


/* CONFIRMATION MODAL */
.confirmation-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  color: rgb(58, 57, 57);
  position: relative;
  justify-content: center;

}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

}

#confirmation-yes {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: var(--base-clr);
  color: white;
  cursor: pointer;
}


#confirmation-no {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: none;
  cursor: pointer;
}

/* DETAILS MODAL */
.book-row:hover {
  background: #f8f8fa;
}

.details-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  color: rgb(58, 57, 57);
  position: relative;
  justify-content: center;
}

.details-data {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 15px;
  width: 330px;
}

.details-data span {
  font-size: 13px;
  color: rgb(185, 183, 183);
  font-weight: 400;
}


.details-data p {
  font-size: 13px;
  color: rgb(185, 183, 183);
  font-weight: 400;
}

.details-title span {
  font-size: 18px;
  font-weight: 600;
  color: var(--base-clr);
}

.details-author {
  display: flex;
  align-items: center;
  gap: 8px;
}
.details-publishdate {
  display: flex;
  align-items: center;
  gap: 8px;
}
.details-isbn {
  display: flex;
  justify-content: start;
  gap: 8px;
}
.details-category {
  display: flex;
  align-items: center;
  gap: 8px;
}
.details-availability {
  display: flex;
  align-items: center;
  gap: 8px;
}
.details-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}