.book-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 34px;
  position: relative;
}


.search-container {
  display: flex;
  gap: 10px;
}

.search {
  position: relative;
  display: flex;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  align-items: center;
  border: 1px solid var(--border-clr);
  border-radius: 5px 5px 5px 5px;
  padding-right: 10px;
  background: white;
}

.filter-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--border-clr);
  height: auto;
  width: 43px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.search img {
  cursor: pointer;
  padding-right: 3px;
}

.search input::placeholder {
  color: rgb(180, 177, 182);
}


.searchTerm {
  padding: 10px;
  height: 20px;
  width: 450px;
  outline: #cdcdd8;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

.bookButtons {
  display: flex;
  position: relative;
  gap: 10px;

}

.deleteBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-clr);
  padding: 10px;
  position: flex;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
}

.deleteBtn i {
  color: rgb(255, 124, 124);
  font-size: 20px;
}

.addBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-clr);
  padding: 10px 14px 10px 14px;
  position: flex;
  border-radius: 5px;
  background: var(--base-clr);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
}

.addBtn i {
  color: white;
  font-size: 14px;
}

.addBtn a {
  color: white;
  padding-left: 6px;
  font-size: 13px;
  text-decoration: none;
}


/* BOOKS PAGE CONTENT TABLE */


.books-wrapper {
  border: 1px solid var(--border-clr);
  border-radius: 6px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;

  max-height: calc(100vh - 220px);
  overflow-y: auto;
  scrollbar-width: none;
}

.books-container {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;

}

.table-head th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f8f8fa;
}

th,
td {
  border-bottom: 1px solid var(--border-clr);
  padding: 10px 10px 10px 25px;
  text-align: left;
  font-size: 12px;
  color: #676775;

}

tr {
  background: white;

}

.table-head {
  background: #f8f8fa;
}

.td-genre {
  border-radius: 6px;
  padding: 6px 9px 6px 9px;
  background: rgb(238, 238, 238);
  color: var(--base-clr);
  font-weight: 500;
  font-size: 11px;
}

.td-isbn {
  font-size: 12px;
  color: #818399;
  /* Optional: make it a lighter color */
  font-weight: 250;
}



.avail-light {
  border-radius: 7px;
  padding: 8px 10px 8px 10px;
  background: rgb(233, 250, 233);
  color: rgb(7, 151, 19);
  font-size: 11px;
  font-weight: 700;
}

.unavail {
  border-radius: 7px;
  padding: 8px 10px 8px 10px;
  background: rgb(252, 230, 230);
  color: rgb(235, 26, 26);
  font-size: 11px;
  font-weight: 700;
}

/* CELL SIZING */
.th-title,
.cell-bookTitle {
  width: 340px;
  font-weight: 600;
}

.td-title {
  font-size: 14px;
}



.td-actions,
.th-actions {
  width: 120px;
}

.books-actions {
  display: flex;
  gap: 6px;
  flex-shrink: 0;
}

.edit-book,
.delete-book {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-clr);
  border-radius: 4px;
  background: white;
  cursor: pointer;
  transition: all .15s;
}

.edit-book:hover,
.delete-book:hover {
  background: rgb(243, 243, 243);
}



/* === ADD BOOK MODAL */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  height: 340px;
  color: rgb(58, 57, 57);
  position: relative;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 180ms ease;
}

.modal.show .modal-content {
  transform: translateY(0) scale(1);
  opacity: 1;
}




.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header span {
  color: #676775;
  font-weight: 500;
  font-size: 20px;

}

.modal-close {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  position: relative;
}


/* ADDBOOK FORM */
.addbook-form {
  display: grid;
  grid-template-columns: 239px 239px;
  gap: 19px;
  margin-top: 18px;
  margin-bottom: 35px;
}

.addbook-form p {
  font-size: 13px;
  font-weight: 480;
  color: #717280;
}

.addbook-form input {
  font-size: 13px;
  width: 100%;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
}

.addbook-form input::placeholder {
  color: rgb(179, 176, 176);
}

.addbook-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;

}

#addbook-submit {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: var(--base-clr);
  color: white;
  cursor: pointer;
}

#addbook-cancel {
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  height: auto;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  background: none;
  cursor: pointer;
}