.search {
  position: absolute;
  display: flex;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  align-items: center;
  border: 1px solid var(--border-clr);
  border-radius: 5px 5px 5px 5px;
  padding-right: 10px;
}
.search svg {
  cursor: pointer;
}


.searchTerm {
  padding: 10px;
  height: 20px;
  width: 250px;
  outline: #cdcdd8;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

/*Resize the wrap to see the search bar change!*/
.search-container{
 
}